<div class="col">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>


            <div class="col">
                <h1 class="my-4">
                    <span class="fw-bold main-title">Inicio</span>
                </h1>
                <div class="container-fluid">
                    <div class="row mb-5">
                        <div class="col-sm-6 col-lg-6">
                            <img src="assets/images/book.jpg" width="100%" height="100%">
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="d-flex flex-column h-100 justify-content-between">
                                <span class="text">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting 
                                    industry. Lorem Ipsum has been the industry's standard dummy text 
                                    ever since the 1500s, when an unknown printer took a galley of type 
                                    and scrambled it to make a type specimen book. It has survived not only 
                                    five centuries, but also the leap into electronic typesetting, 
                                    remaining essentially unchanged. It was popularised in the 1960s 
                                    with the release of Letraset sheets containing Lorem Ipsum passages, 
                                    and more recently with desktop publishing software like Aldus PageMaker 
                                    including versions of Lorem Ipsum.
                                </span>
                                <span class="text-info fw-bold prices my-4">
                                    Valor Unitario $50.000,00
                                </span>
                                <div>
                                    <div class="d-flex align-items-baseline">
                                        <div class="ml-5">
                                            <span>Cantidad:</span>
                                        </div>
                                        <input type="number" value="1" class="text-end">
                                    </div>
                                    <hr class="solid">
                                    <div class="d-flex justify-content-between">
                                        <span class="text-info fw-bold prices">
                                            Total $50.000,00
                                        </span>
                                        <button type="button" class="btn cart-button d-flex justify-content-center">
                                            <span class="material-icons md-18">
                                                add_shopping_cart
                                            </span>
                                            Añadir al carrito
                                        </button>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>
<div class="col-lg-2"></div>